[user]
	email = dring@wolfishly.me
	name = Techwolf
[core]
	editor = nano
	autocrlf = input
	excludesfile = ~/.gitignore-global
[help]
	autocorrect = 20
[push]
	default = simple
[alias]
	acp = !git add -A && git commit && git push
	unadd = reset HEAD --
