[user]
	email = dring@g33kworld.net
	name = Techwolf
[core]
	editor = nano
	autocrlf = input
[help]
	autocorrect = 20
[push]
	default = simple
[alias]
	acp = !git add -A && git commit && git push
	unadd = reset HEAD --
